.home {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 900px 200px;
  grid-template-rows: 1fr;
}

.main-welcome {
  grid-column: span 12;
  text-align: center;
}