.calendar {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 20px repeat(4, 120px);
  padding-left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.day-item-title {
  display: inline;
}

.day-item-button {
  float: right;
}

.selected-day {
  background-color: aliceblue;
}