<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Work+Sans">
    <title>focalm</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  {% if not config['DEBUG'] %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125072936-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125072936-1');
  </script>
  {% endif %}
</html>
