$light-font-color: #E0E0E0;
$medium-font-color: #808080;
$dark-font-color: black;
$input-font-color: #606060;

$btn-background: black;
$btn-background-hover: #202020;
$btn-disabled: #202020;

$btn-focus: #505050;

$border-light: #E0E0E0;
$border-medium: #A0A0A0;
$border-dark: black;

$meal-item-width: 150px;

$transition-in-duration: 0.15s;

.meal-item {
  display: inline-block;
  text-align: center;
  width: $meal-item-width;
  color: $dark-font-color;
  text-decoration: none;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 11pt;
}

.btn {
  color: $light-font-color;
  background-color: $btn-background;
  border: 2px;
  cursor: pointer;

  &:hover {
    background-color: $btn-background-hover;
  }

  &:active {
    background-color: $btn-background;
  }

  &:disabled {
    background-color: $btn-disabled;
    cursor: not-allowed;
  }

  &:focus {
    background-color: $btn-focus;
  }
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

h1 {
  @extend .unselectable;
}

h2 {
  @extend .unselectable;
}

h3 {
  @extend .unselectable;
}

label {
  @extend .unselectable;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes transition-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
