.header {
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Libre+Baskerville';
  font-size: 32pt;
  text-decoration: none;
  color: black;
  padding-left: 50px;
  padding-top: 10px;
}

.login-links {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.login-links a {
  padding-right: 20px;
  text-decoration: none;
  color: #A0A0A0;
  cursor: pointer;
}

.login-links span {
  padding-left: 20px;
  text-decoration: none;
  color: #A0A0A0;
  cursor: pointer;
}

.login-links a:hover {
  color: #707070;
}

.login-links span:hover {
  color: #707070;
}
