@import "../shared/globals";

.meal-form-btns {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.meal-form-btn {
  @extend .btn;

  padding: 15px 32px;
  width: 150px;
  font-size: 12pt;
  margin: 50px 10px 0 10px;
  height: 50px;
}

.meal-form-cancel-btn {
  @extend .meal-form-btn;
  @extend .unselectable;

  color: $light-font-color;
  text-decoration: none;
  width: 86px;
  height: 20px;
  text-align: center;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: $btn-disabled;
  }
}

.meal-form-spinner {
  margin: 0px auto 6px;
}