.meal-form {
  grid-area: main;

  display: grid;
  grid-template-areas: ". info ."
                       ". lists ."
                       ". buttons .";
  grid-template-columns: 1fr 720px 1fr;
  grid-template-rows: min-content min-content 200px;

  fieldset {
    border: none;
  }
}

.meal-form-info {
  margin-top: 10px;
  grid-area: info;
  display: grid;
  grid-template-areas: "name name servings"
                       "description description description";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px min-content;

  label {
    font-size: 14pt;
  }

  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    font-size: 14pt;
    color: #505050;
    padding: 2px 10px 2px 10px;
  }
}

.meal-form-name {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    font-size: 14pt;
    color: #505050;
    padding: 2px 10px 2px 10px;
    margin-top: 2px;
    margin-left: 20px;
    width: 320px;
  }
}

.meal-form-servings {
  grid-area: servings;

  input {
    width: 50px;
  }
}

.meal-form-description {
  margin-top: 10px;
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  textarea {
    height: 26px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    font-size: 14pt;
    color: #505050;
    padding: 2px 10px 2px 10px;
    width: 630px;
    resize: none;
  }
}

.meal-form-lists {
  margin-top: 20px;
  grid-area: lists;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: min-content;
  grid-template-areas: "ingredients steps";

  h3{
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    cursor: default;
  }
}
