.meal-form {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-areas: ". description ."
                       ". lists ."
                       ". buttons .";
  grid-template-columns: 1fr 720px 1fr;
  grid-template-rows: min-content min-content 50px;
}

.meal-form fieldset {
  border: none;
}

.meal-form-description {
  grid-area: description;
}

.meal-form-lists {
  grid-area: lists;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "ingredients steps";
}

.meal-form-lists h3{
  text-align: center;
}

.meal-form-buttons {
  grid-area: buttons;
}
