.meal-form-steps ol {
  padding-left: 30px;
}

.meal-form-step {
  padding-bottom: 20px;
}

.meal-form-step fieldset {
  padding: 0 5px 0 0;
  display: inline;
}

.meal-form-step textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  font-size: 12pt;
  color: #505050;
  padding: 2px 10px 2px 10px;
  resize: none;
  width: 280px;
}

