@import "../../shared/globals";

.sidebar {
  grid-area: sidebar;
  padding-left: 15px;
}

.home-meals {
  h3 {
    text-align: center;
    font-size: 16pt;
    padding: 16px 0 14px 0;
    border-bottom: 1px solid black;
    font-weight: normal;
    margin: 0;
  }
}

.create-meal-btn {
  @extend .btn;

  padding: 15px 32px;
  width: 100%;
  font-size: 12pt;
}
