html, body, #root, #wrapper{
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Work Sans', sans-serif;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  grid-template-rows: 80px 1fr 80px;
}

.increment-button {
  border:0;
  background:none;
}

.general-list {
  list-style: none;
}

input {
  border: 1px solid grey;
  border-radius: 2px;
}

.input-danger {
  border-color: #dc3545;
}