.main {
  grid-column: span 8;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 100px;
}

.main-welcome {
  grid-column: span 12;
  text-align: center;
}