.calendar {
  grid-column: span 4;
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 60px);
  grid-auto-flow: dense;
  grid-gap: 2px 10px;
  padding-left: 0;
}

ul {
  list-style: none;
}