.auth-grid {
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr auto 1fr;
}

.auth-form {
  grid-column-start: 2;
  grid-row-start: 2;
}

.auth-submit-button {
  color: #e0e0e0;
  background-color: black;
  border: 2px;
  padding: 15px 32px;
  width: 100%;
  font-size: 14pt;
  margin-top: 15px;
  cursor: pointer;
}

.auth-submit-button:hover {
  background-color: #101010;
}

.auth-error-message {
  text-align: center;
  height: 20px;
  color: #dc3545;
}