.auth-field {
  margin: 0;
  padding: 0;
  border: none;
}

.auth-field label {
  display: block;
  text-align: center;
  font-size: 16pt;
}

.auth-field input {
  height: 25px;
  width: 280px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
  font-size: 14pt;
  color: #606060;
  padding: 2px 10px 2px 10px;
}