@import "../shared/globals";

.auth-submit-button {
  @extend .btn;

  border: 2px;
  padding: 15px 32px;
  width: 100%;
  margin-top: 15px;

  span {
    height: 15px;
    font-size: 14pt;
  }
}

.submit-button-spinner {
  margin: 5px auto 5px;
}