@import '../shared/globals';

$table-width: 700px;

.shopping-list {
  grid-area: main;

  display: grid;
  grid-template-rows: 68px 1fr;
  grid-template-areas: "shopping-list-header"
                       "shopping-list-main";
}

.shopping-list-main {
  grid-area: shopping-list-main;

  display: grid;
  grid-template-columns: 1fr $table-width 1fr;

  .shopping-list-content {
    grid-column-start: 2;
  }
}

.shopping-list-content {
  width: 100%;
  border: none;

  $table-column-1: 170px;
  $table-column-2: 450px;
  $table-column-3: 30px;
  $table-column-4: 30px;
  $table-column-5: 20px;

  thead {
    display: table;
    width: $table-width;

    tr {
      width: $table-width;
    }

    td {
      height: 50px;

      &:nth-child(1) {
        width: $table-column-1;
      }
      &:nth-child(2) {
        width: $table-column-2;
      }
      &:nth-child(3) {
        width: $table-column-3 + $table-column-4 + $table-column-4;
      }
    }
  }

  tbody{
    display: table;
    width: $table-width;

    tr {
      width: $table-width;
    }

    td {
      height: 50px;

      &:nth-child(1) {
        width: $table-column-1;
      }
      &:nth-child(2) {
        width: $table-column-2;
      }
      &:nth-child(3) {
        width: $table-column-3;
      }
      &:nth-child(4) {
        width: $table-column-4;
      }
      &:nth-child(5) {
        width: $table-column-5;
      }
    }



    .new-meal-line td {
      border-top: 1px solid $border-light;
    }
  }


}
