@import '../shared/globals';

$table-width: 700px;

.shopping-list {
  grid-area: main;

  display: grid;
  grid-template-rows: 68px 1fr;
  grid-template-areas: "shopping-list-header"
                       "shopping-list-main";
}

.shopping-list-main {
  grid-area: shopping-list-main;

  display: grid;
  grid-template-columns: 1fr $table-width 1fr;

  .shopping-list-content {
    grid-column-start: 2;
  }
}

.shopping-list-content {
  width: 100%;
  border: none;

  $table-column-1: 200px;
  $table-column-2: 400px;
  $table-column-3: 50px;
  $table-column-4: 50px;


  thead {
    display: table;
    width: $table-width;

    tr {
      width: $table-width;
    }

    td {
      height: 50px;

      &:nth-child(1) {
        width: $table-column-1;
      }
      &:nth-child(2) {
        width: $table-column-2;
      }
      &:nth-child(3) {
        width: $table-column-3 + $table-column-4;
      }
    }
  }

  tbody{
    $row-height: 40px;

    display: table;
    width: $table-width;

    tr {
      width: $table-width;
    }

    td {
      height: $row-height;

      span {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: $row-height;
      }

      &:nth-last-child(4) {
        width: $table-column-1;
        color: $light-font-color;

        span {
          width: $table-column-1
        }
      }
      &:nth-last-child(3) {
        width: $table-column-2;

        span {
          width: $table-column-2
        }
      }
      &:nth-last-child(2) {
        width: $table-column-3;
        text-align: right;
        padding-right: 5px;
      }
      &:nth-last-child(1) {
        width: $table-column-4;
      }
    }

    .new-meal-line td {
      border-top: 1px solid $border-light;
    }
  }


}
